

.jumbotron {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight:bolder ;
  background-image: url(./image/world-map-banner.jpg);
  background-size:contain;
}

.jumbotron h1,
.jumbotron p {
  background-color: #ffffff;
  opacity: 0.6;
  font-weight:bold;
  color: black;
}


.col-4,
.col-8 {
    float: left;
    border: 1px solid rgb(84, 177, 223);
    height:100vh;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  input {
    border: none;
    outline: none;
    padding: 0.4em;
    border-radius: 20px;
    font-size: 110%;
    width: 20%;
}
  
  button {
    margin: 1em;
    border: none;
    height: 2.5em;
    width: 2.5em;
    border-radius: 25px;
    }

  button:hover {
    color: white;
    background: black;
  }