@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Nunito+Sans:wght@600&display=swap');

:root {
    --dark: rgb(2, 17, 27);
    --onyx: rgb(63, 64, 69);
    --raisin: rgb(48, 41, 47);
    --cadet: rgb(93, 115, 126);
    --white: rgb(252, 252, 252);
}


body {
  font-family: 'Gemunu Libre', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--dark);
  color: var(--white);

}

.jumbotron {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight:bolder ;
  background-image: url(./image/world-map-banner.jpg);
  background-size:contain;
}

.jumbotron h1,
.jumbotron p {
  background-color: #ffffff;
  opacity: 0.6;
  font-weight:bold;
  color: var(--dark);

}

.reddit-h {
  text-align: center;
  font-size: 150%;
  color: var(--white);
 
}

.col-4
 {
    float: left;
    border-right: 1px solid var(--white);
    height:76vh;
    background-color: var(--raisin);
  }

.col-8 {
    float: left;
    height:50vh;
    margin-top: 100px;
    background-color: var(--cadet);
    
  }

  .country {
    text-align: center;
    font-size: 50px;
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: underline;
  }

  .active,
  .deaths,
  .recovered,
  .tests {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }

  input {
    border: none;
    outline: none;
    padding: 0.5em;
    border-radius: 20px;
    font-size: 110%;
    width: 20%;
}
  
  button {
    margin: 1em;
    border: none;
    height: 2.5em;
    width: 2.5em;
    border-radius: 25px;
    }

  button:hover {
    color: white;
    background: var(--dark);
  }

  

  

  


  @media screen and (max-width: 1000px) {
.col-4
 {
    float: left;
    border: 1px solid rgb(13, 13, 13);
    height:50%;
    width: 100%;
    margin-right: 4px;

  }
  .col-8 {
    float: left;
    margin: 0;
    height:100%;
    width: 100%;
}
  }
  
